<%- include('includes/head.ejs') %>

<%- include('includes/menu.ejs') %>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>What is <%= dish.name.split('-').join(' ') %>?</h2>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<section>
										<div class="box alt">
											<div class="row gtr-uniform">
												<div class="col-4"><span class="image fit"><img src="/<%= dish.pic1ImageUrl %>" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="/<%= dish.pic2ImageUrl %>" alt="" /></span></div>
												<div class="col-4"><span class="image fit"><img src="/<%= dish.pic3ImageUrl %>" alt="" /></span></div>
											</div>
										</div>
										<p><span class="image left"><img src="/<%= dish.pic4ImageUrl %>" alt="" /></span><%= dish.howMade %></p>
										<p><span class="image right"><img src="/<%= dish.pic5ImageUrl %>" alt="" /></span><%= dish.howServe %></p>
									</section>

								</div>
							</div>

					</section>

<%- include('includes/end.ejs') %>