<%- include('includes/head.ejs') %>

<%- include('includes/menu.ejs') %>

				<!-- Wrapper -->
					<section id="wrapper">
						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<h2 class="major">Dish CRUD</h2>
									<form action="/admin" method="POST" enctype="multipart/form-data">
										<div class="fields">
											<div class="field">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field">
												<label for="name">FName</label>
												<input type="text" name="fName" id="fName" />
											</div>
											<div class="field">
												<label for="mainImage">Image</label>
												<input type="file" name="mainImage" id="mainImage" />
											</div>
											<div class="field">
												<label for="price">Price</label>
												<input type="text" name="price" id="price" />
											</div>
											<div class="field">
												<label for="shortDesc">Short Description</label>
												<input type="text" name="shortDesc" id="shortDesc" />
											</div>
											<div class="inner">
												<h2 class="major">About Dish</h2>
											</div>
											<div class="field">
												<label for="pic1">Pic1</label>
												<input type="file" name="pic1" id="pic1" />
											</div>
											<div class="field">
												<label for="pic2">Pic2</label>
												<input type="file" name="pic2" id="pic2" />
											</div>
											<div class="field">
												<label for="pic3">Pic3</label>
												<input type="file" name="pic3" id="pic3" />
											</div>
											<div class="field">
												<label for="pic4">Pic4</label>
												<input type="file" name="pic4" id="pic4" />
											</div>
											<div class="field">
												<label for="pic5">Pic5</label>
												<input type="file" name="pic5" id="pic5" />
											</div>
											<div class="field">
												<label for="howMade">How's the dish made:</label>
												<textarea name="howMade" id="howMade" rows="5"></textarea>
											</div>
											<div class="field">
												<label for="howServe">How's the dish served:</label>
												<textarea name="howServe" id="howServe" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Save" /></li>
										</ul>
									</form>
								</div>

								<div class="inner">
									<h2 class="major">Dishes</h2>
									<section class="features">
										<% if (dishes.length > 0) { %>
											<% for (let dish of dishes) { %>
												<article>
													<div class="image"><img src="/<%= dish.mainImageUrl %>" alt="<%= dish.name %>.png" /></div>
													<div class="space-between-container">
														<h3 class=""><%= dish.name.split('-').join(' ') %></h3><h3 class="fName"><%= dish.fName %></h3><h3 class="price"><%= dish.price %></h3>
													</div>
													<p><%= dish.shortDesc %></p>
													<a href="" class="">Edit</a>
													<a href="" class="">Delete</a>
												</article>
											<% } %>
										<% } %>
									</section>
								</div>
							</div>

					</section>
			</div>

<%- include('includes/end.ejs') %>