<%- include('includes/head.ejs') %>

<%- include('includes/menu.ejs') %>

				<!-- Wrapper -->
					<section id="wrapper">
						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<h2 class="major">Dish CRUD</h2>
									<form action="/admin" method="POST" enctype="multipart/form-data">
										<div class="fields">
											<div class="field">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field">
												<label for="image">Image</label>
												<input type="file" name="image" id="image" />
											</div>
											<div class="field">
												<label for="price">Price</label>
												<input type="text" name="price" id="price" />
											</div>
											<div class="field">
												<label for="shortDesc">Short Description</label>
												<input type="text" name="shortDesc" id="shortDesc" />
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Save" /></li>
										</ul>
									</form>
								</div>

								<div class="inner">
									<h2 class="major">Dishes</h2>
									<section class="features">
										<% if (dishes.length > 0) { %>
											<% for (let dish of dishes) { %>
												<article>
													<div class="image"><img src="/<%= dish.imageUrl %>" alt="<%= dish.name %>" /></div>
													<h3 class="major"><%= dish.name.split('-').join(' ') %><span class="price"><%= dish.price %></span></h3>
													<p><%= dish.shortDesc %></p>
													<a href="" class="">Edit</a>
													<a href="" class="">Delete</a>
												</article>
											<% } %>
										<% } %>
									</section>
								</div>
							</div>

					</section>
			</div>

<%- include('includes/end.ejs') %>