<%- include('includes/head.ejs') %>

<%- include('includes/menu.ejs') %>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><img src="images/logo.png" alt="" style="max-width: 150px;"/></div>
							<h2>Maajon's Kitchen</h2>
							<p>Welcome to Maajon's Kitchen! We specialize in cooking and delivering an assortment of delicious Afghan foods straight to your doorstep!</a></p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Menu</h2>
									<!-- <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->
									<section class="features">
										<% if (dishes.length > 0) { %>
											<% for (let dish of dishes) { %>
												<article>
													<div class="image"><img src="/<%= dish.mainImageUrl %>" alt="<%= dish.name %>.png" /></div>
													<div class="space-between-container">
														<h3 class=""><%= dish.name.split('-').join(' ') %></h3><h3 class="fName"><%= dish.fName %></h3><h3 class="price"><%= dish.price %></h3>
													</div>
													<p><%= dish.shortDesc %></p>
													<a href="/about-dish/<%= dish.name %>" class="special">About Dish</a>
												</article>
											<% } %>
										<% } %>
									</section>
								</div>
								<div class="inner">
									<div class="order-placement">
										<h2 class="major">
											<span>Place order</span>
											<span>سفارش</span>
										</h2>
									</div>
									<p>To place your order, please message us through the following numbers. Kindly note that orders must be made in advance, and a delivery fee of $6 per order will be added. Please be aware that we are currently operating exclusively out of Glen Allen, VA, and orders can only be fulfilled for this location. We appreciate your understanding and look forward to serving you.</p>
									<div class="rtl-container">
										<p>برای سفارش غذا، می‌توانید از طریق شماره‌های زیر به ما پیام دهید. لطفاً توجه کنید که سفارشات باید از قبل صورت گیرد و 6 دلار به هر سفارش برای رساندن غذا به درب منزل شما افزوده می‌شود. لطفاً در نظر داشته باشید که در حال حاضر ما فقط در Glen Allen, Virginia فعالیت میکنیم.</p>
									</div>
									<div class="contact">
										<ul>
											<li>
												<i class="fa-regular fa-message"></i> / <i class="fa-brands fa-whatsapp fa-lg"></i>
											</li>
											<li>
												<h3>
													(804) 397-1410
												</h3>
											</li>
											<li>
												<h3>
													(804) 215-6450
												</h3>
											</li>
										</ul>
	
									</div>
								</div>
							</section>

					</section>
<!-- 
					<section id="wrapper">

						<section id="four" class="wrapper alt style1">
							<div class="inner">
								
							</div>
						</section>

					</section> -->
		
<%- include('includes/end.ejs') %>