<%- include('includes/head.ejs') %>

<%- include('includes/menu.ejs') %>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><img src="images/logo.png" alt="" style="max-width: 150px;"/></div>
							<h2>Maajon's Kitchen</h2>
							<p>Welcome to Maajon's Kitchen! We specialize in cooking and delivering an assortment of delicious Afghan foods straight to your doorstep!</a></p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Menu</h2>
									<!-- <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->
									<section class="features">
										<% if (dishes.length > 0) { %>
											<% for (let dish of dishes) { %>
												<article>
													<div class="image"><img src="/<%= dish.imageUrl %>" alt="<%= dish.imageUrl %>" /></div>
													<h3 class="major"><%= dish.name.split('-').join(' ') %><span class="price"><%= dish.price %></span></h3>
													<p><%= dish.shortDesc %></p>
													<a href="/about-dish/<%= dish.name %>" class="special">About Dish</a>
												</article>
											<% } %>
										<% } %>
									</section>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Place order</h2>
							<p>To place your order, please give us a call. Kindly note that orders must be made at least 1 day in advance and a delivery fee of $3 will be added to your order.</p>
							<ul class="contact">
								<li class="icon solid fa-phone">(000) 000-0000</li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>
		
<%- include('includes/end.ejs') %>